#include <avr/iom32.h>

#define _atmega32

#define F_CPU 16000000L

#define _KS0108A

#define _TDA7439
#define _TDA731X
#define _TDA7448
#define _PT232X
#define _TEA6330
#define _PGA2310
#define _TUNER_AUDIO
#define _R2S15904SP

#define _TEA5767
#define _RDA580X
#define _TUX032
#define _LM7001
#define _LC72131
#define _SI470X

#define _TEMPCONTROL
#define _UARTCONTROL
#define _RDS
#define _ALARM
#define _SPISW
